* {
    margin: 0;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Krub', sans-serif;
}

.navbar {
    background-color: #212939;
    display: flex;
    justify-content: space-between;
    padding: 0 2.8rem 0 2rem;
}

.navbar a {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    padding: 2rem 0 2rem 0;
}

.navbar__nombre {
    display: flex;
    align-items: center;
}

.navbar__nombre a {
    font-size: 2.8rem;
}

.navbar__nombre a:hover {
    color: rgb(210, 210, 210);
}

.navbar__links {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.navbar__links a:hover {
    color: rgb(210, 210, 210);
}

.sobreMi {
    background-color: #212939;
    padding: 10rem 0 20rem 0;
    height: 90rem;
}

.sobreMi__contenido {
    width: min(120rem, 100%);
    margin: 0 auto;
    display: flex;
    gap: 10rem;
}

.sobreMi__contenido img {
    width: 40%;
    border-radius: 2rem;
    filter: drop-shadow(0px 4px 6px #1e9534);
}

.sobreMi__contenido img:hover {
    animation: moveUpAnimation 3s infinite;
}

@keyframes moveUpAnimation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

.sobreMi__contenido__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sobreMi__contenido__info h2 {
    font-size: 3rem;
    text-align: start;
    color: white;
}

.sobreMi__contenido__info h3 {
    font-size: 2.2rem;
    text-align: start;
    color: white;
}

.sobreMi__contenido__info p {
    font-size: 1.8rem;
    text-align: justify;
    margin-top: 2rem;
    color: white;
    line-height: 1.5;
}

.habilidadesB {
    background-color: #172121;
}

.habilidadesB__contenedor {
    width: min(80rem, 100%);
    margin: 0 auto;
    padding: 6rem 0;
    color: #fff;
}

.habilidadesB__inf h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: center;
}

.habilidadesB__listado {
    display: flex;
    justify-content: space-between;
    margin: 6rem 0;
}

.habilidadesB__listado li {
    padding: 1rem 0;
    font-size: 2rem;
}

.habilidadesT {
    background-color: #30343f;
}

.habilidadesT__contenedor {
    width: min(160rem, 100%);
    margin: 0 auto 10rem auto;
    padding: 10rem 0;
}

.habilidadesT__inf h2 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 6rem;
    text-align: center;
    color: #FFF;
}

.habilidadesT__imagenes {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: min(120rem, 100%);
    margin: 0 auto;
}

.habilidadesT_img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.habilidadesT_img span {
    color: white;
    font-size: 1.4rem;
    margin-top: .5rem;
}

.habilidadesT_img img {
    width: 120px;
    height: 120px;
}

.habilidadesT_img img:hover {
    animation: moveUpAnimation 3s infinite;
    filter: drop-shadow(0px 4px 10px #0760b9);
}

@keyframes moveUpAnimation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

